{% extends 'layout.html' %}

{% block content %}
<div>
    <div class="box" style="min-width: 100%; min-height: 80vh;">
        <div class="title has-text-centered">
            {{ post.title }}
        </div>

        <div class="columns is-centered is-multiline" style="width: 100%;">
            {% for image in post.photo_set.all %}
            <div class="column is-5">
                <img src="{{ image.image.url }}" alt="" class="image post-image">
            </div>
            {% endfor %}
        </div>
        <div class="content has-text-centered">
            {{post.content}}
        </div>
        <hr>

        <div class="has-text-right">
            <button class="button">
                <ion-icon name="thumbs-up"></ion-icon>
            </button>
            <button class="button">
                <ion-icon name="thumbs-down"></ion-icon>
            </button>
        </div>
        <div class="author">
            <div class="columns is-centered is-vcentered">
                <div class="column is-3">
                    <hr />
                </div>
                <div class="column is-1 image">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="" />
                    </figure>
                </div>
                <div class="column is-3">
                    <hr />
                </div>
            </div>
            <div class="has-text-centered">
                <div class="title">{{post.author}}</div>
                <div class="subtitle has-text-grey">Junior Backend Разработчик</div>
                <a class="content has-text-link is-size-5">Постов: 5</a>
            </div>
        </div>
    </div>
    <div class="box">
        <form action="" class="comment-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{field}}
            {% endfor %}
            <button>Отправить</button>
        </form>
        <div>
            {% for comment in post.comment_set.all %}
            <div class="columns is-centered">
                <div class="column is-1">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img class="is-rounded"
                                src="https://bulma.io/images/placeholders/48x48.png"
                                alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <div class="box">
                        
                        <div class="title is-3">
                            {{comment.user}}
                        </div>
                        <div class="subtitle has-text-grey is-6">
                            {{comment.date}}
                        </div>
                        <div class="content">
                            {{comment.body}}
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="button is-small">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </button>
                        <button class="button is-small">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </button>
                        <button class="button is-small">
                            <ion-icon name="arrow-undo"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>  
</div>
{% endblock %}

